.features {
  background: linear-gradient(90deg, map-get($colors, color-1) 20%, map-get($colors, color-4) 20%);

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 32px;
    grid-auto-flow: row;
  }

  &__item {
    padding: 120px 64px 190px;
    background-color: map-get($colors, color-3);
  }

  &__icon {
    margin-bottom: 64px;
  }

  &__title {
    margin-bottom: 24px;
    @include h2;
    color: map-get($colors, color-2);
  }

  &__description {
    p {
      color: map-get($colors, color-2);

      &:not(:last-of-type) {
        margin-bottom: 18px;
      }
    }
  }
}